<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Mahasiswa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" 
</head>
<body>
    <div class="container">
        <h1>Data Mahasiswa</h1>
        <div class="info"><span>Nama :</span> {{data.nama}}</div>
        <div class="info"><span>NPM :</span> {{data.npm}}</div>
        <div class="info"><span>Kelas :</span> {{data.kelas}}</div>
        <div class="info"><span>Jurusan :</span> {{data.jurusan}}</div>
        <div class="info"><span>Fakultas :</span> {{data.fakultas}}</div>
    </div>
</body>
</html>